.misDatos {
    width: 80%;
    margin: 70px auto;
    flex-wrap: wrap;
    gap: 35px;

    &__datos {
        min-width: 375px;
        flex: 2;
        gap: 35px;

        &-animate {
            padding: 20px;
        }

        &-contacto {
            padding: 20px;
        }
    }

    &__mapa {
        min-width: 375px;
        flex: 2;

        &-contenedor {
            height: 100%;
            padding: 20px;

            // &-txt {}

            // &-mapa {}
        }
    }
}

.misDatos__datos-animate,
.misDatos__datos-contacto,
.misDatos__mapa-contenedor {
    position: relative;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 5px 5px 20px #dbdbdb,
        -5px -5px 20px #ffffff;

    img {
        width: 130px;
    }
}